<!DOCTYPE html>
<html>
<head>
	<title>The index</title>
</head>


<body  bgcolor="WhiteSmoke">
	


<div align="center">

	<h1><font color="blue"> Contact Information </font></h1>
	 {% if user.is_authenticated %}
	 <h2> <font color="blue">Hey! {{user.username }},you successfully logged in.</font> </h2>
	 {% else %}
	 <h2> you are not logged in. </h2>
	 {% endif %}
<form method="POST" action="{% url 'index' %}">
	{% csrf_token %}

	<table  frame="center" border="red">
        {{form}}
	</table>	

    <input type="submit" value="save"/>
    <input type="submit" value="View"/>
    <p>Good Bye!<a href="{% url 'logout' %}" > logout</p></a>
    
</form>
</div>
</body>



</html>